<!-- CART ITEMS -->
<ng-container *ngIf="filteredCartItems.length > 0; else emptyCart">
  <div *ngFor="let item of filteredCartItems">
    <div class="cart-item-grid">

      <!-- Product Info -->
      <div class="cart-product">
        <div>
          <img [src]="encodeImageUrl(item.image)" width="120" height="120" loading="lazy" />

        </div>
        <div class="cart-title">
          {{ item.title || 'Product Title Not Available' }}
        </div>
        <div class="cart-price">
          ₹{{ item.price | number:'1.2-2' }} each
        </div>
      </div>

      <!-- Quantity -->
      <div class="cart-qty">
        Qty: {{ item.quantity }}
      </div>

      <!-- Subtotal -->
      <div class="cart-subtotal">
        ₹{{ (item.price * item.quantity) | number:'1.2-2' }}
      </div>

      <!-- Remove -->
      <div class="cart-action">
        <button (click)="removeItem(item.product_id)">Remove</button>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #emptyCart>
  <div class="empty-cart">
    Your cart is empty
  </div>
</ng-template>

<hr>

<!-- CART SUMMARY -->
<div class="cart-summary">
  <div class="summary-row">
    <span>Total Items</span>
    <span>{{ filteredCartItems.length }}</span>
  </div>

  <div class="summary-row total-row">
    <span>Total Amount</span>
    <span class="price">₹{{ total }}</span>
  </div>
</div>