<div>
  <nav class="flipzone-navbar">
    <ul class="nav-menu">
      <li>
        <button routerLink="products/Electronics"routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">Electronics</button>
      </li>
      <li>
        <button routerLink="products/Fashion" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
          Fashion
        </button>
      </li>
      <li>
        <button routerLink="products/home" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </button>
      </li>
      <li>
        <button routerLink="products/Appliances" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
          Appliances
        </button>
      </li>
      <li>
        <button routerLink="products/Mobiles" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
          Mobiles
        </button>
      </li>
      <li>
        <button routerLink="products/Grocery" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
          Grocery
        </button>
      </li>
    </ul>
  </nav>
</div>